name: Auto Build
on:
  schedule:
    - cron: '0 22 * * *' # 北京时间早6点
  workflow_dispatch:
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Init Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install deps
        run: pip install requests
      - name: Build JSON
        run: python build.py
      - name: Push
        run: |
          git config --global user.name "bot"
          git config --global user.email "bot@github.com"
          git add index.json
          git commit -m "Update" || exit 0
          git push
